.outerDiv {
  display: flex;
  flex-direction: column;
}

.bookImage {
  width: 25%;
  display: flex;
  align-self: center;
}

.whiteBox {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 2vh;
  width: 90%;
  align-self: center;
  margin-top: 5vh;
  height: 80vh;
  padding: 1%;
}

.rightInnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.synopsisTitle {
  font-size: 4vh;
  margin: 1vh 0vh;
}

.synopsisText {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.leftInnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
