.outerDiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}

.bookImage {
  width: 25%;
  margin: 60px 0px 30px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.whiteBox {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  border-radius: 10px;
  width: 45em;
  height: 60em;
}

.leftInnerBox {
  margin: 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.synopsisTitle {
  font-size: 4vh;
  font-weight: bold;
  margin: 1vh 0vh;
  padding: 10px;
  border: 2px solid #00cc77;
  border-radius: 10px;
  background-color: #eff0ef87;
  width: 85%;
}

.synopsisText {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 55%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #eff0ef87;
  border: 2px solid #00cc77;
}

.synopsisText::-webkit-scrollbar {
  width: 4px;
}

.synopsisText::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #00cc77;
  border-radius: 15px;
}

.rightInnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 30px 30px;
  width: 45em;
  height: 60em;
  background-color: white;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.bookName {
  text-transform: capitalize;
  font-size: 4.5vh;
  display: flex;
  justify-self: center;
  width: 100%;
  padding-top: 30px;
}

.detailsSpan {
  margin: 8px;
  display: flex;
  justify-self: flex-start;
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
  text-transform: capitalize;
}

.detailsContainer {
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  background-color: #eff0ef87;
  border: 2px solid #00cc77;
}

.price {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 35px;
}

.buttonBookDetail {
  font-size: 25px;
  background-color: #00cc77;
  border: 1px solid #00cc77;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  padding: 10px;
  background-color: #eff0ef87;
  border-radius: 10px;
  border: 2px solid #00cc77;
  margin-top: 50px;
  align-items: center;
}

.reviews {
  display: flex;
  align-self: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .outerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .whiteBox {
    width: 60em;
    margin-bottom: 40px;
    padding: 10px;
  }

  .rightInnerBox {
    width: 55em;
    padding: 10px;
    margin: 0px 0px 40px;
  }
  
}

@media only screen and (max-width: 720px) {
  .outerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  .whiteBox {
    width: 45em;
    margin-bottom: 40px;
    padding: 10px;
  }

  .rightInnerBox {
    width: 40em;
    padding: 10px;
    margin: 0px 0px 40px;
  }
}

@media only screen and (max-width: 600px) {
  .outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .whiteBox {
    width: 35em;
    padding: 10px;
    margin: 10px 10px 40px 10px;
  }

  .rightInnerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35em;
    margin: 10px;
  } 
}

@media only screen and (max-width: 410px) {
  .outerDiv {
    display: inline-block;
    margin: 20px;
  }

  .whiteBox {
    width: 25em;
    margin-bottom: 40px;
    padding: 30px 0px 40px;
  }

  .rightInnerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    padding: 30px 0px 40px;
  } 
}