/* @import '~antd/dist/antd.dark.css'; */
/* @import '~antd/dist/antd.compact.css'; */

/* @import '~antd/dist/antd.less';
@import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.compact.less';
@import "~antd/lib/style/themes/default.less"; */

*,
*::before,
*::after {
  box-sizing: revert;
}

body {
  background: #deebef;
  color: #34495e;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.ant-table-expand-icon-col {
  width: 0px;
}


@import "~antd/dist/antd.css";