.headerBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #28cbb5;
  width: 100%;
  height: auto;
  color: white;
  bottom: 0;
  box-shadow: 0px 0px 10px rgba(7, 63, 68, 0.4);
}

.headerBottom p {
  color: white;
}
