.headerBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00cc77;
  width: 100%;
  height: auto;
  color: white;
  bottom: 0;
}

.headerBottom p {
  color: white;
}
