.homePage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.promotions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    height: auto;
    width: 100%;
    background-image: url("../../sourceImg/banner.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 0px 0px 5px 5px;
}

.textoPromotions{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 45%;
}

.textoPromotions h3{
    font-size: 2.5rem;
}

.textoPromotions p{
    font-size: 1rem;
}

.detailBook p{
    width: 250px;
}

.detailBook{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detailBook img{
    width: 250px;
}

.stand{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.buttonView{
    background-color: rgb(58, 199, 58);
    border: 1px solid rgb(58, 199, 58);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

.advertisements{
    margin-top: 100px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.advertisements p{
    width: 280px;
}

.imageFail{
    margin-top: -7px;
}