.contentResults{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.cardBookResults {
  width: 210px;
  height: 180px;
  margin: 60px 30px 80px 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.resultsMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divLinkCategories {
  color: black;
  font-size: 14px;
  margin-right: 95em;
}

.filtersResults {
  width: 20em;
  display: flex;
  margin-right: 2em;
  /* margin-top: -32px; */
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  /* padding: 10px; */
}

.sectionBooksResults {
  width: 90em;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  padding: 0px 0px 80px;
}

.titleResults {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #00cc77;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.titlesFilters {
  background-color: #e7e7e7;
  width: 100%;
  color: #00cc77;
}

.divFilters {
  width: 100%;
}