/* .containerNewPassword{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.boxNewPassword{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tittleNewPassword{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textFieldNewPassword{
    width: 100%;
    height: 25%;
   
}

.newPassword{
    width: 80%;
} */

.containerPasswordForgot {
    margin-top: 10%;
  }

.newPasswordButton{
    height: 25%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingNewPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}