.userOuterDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.shopingDiv {
  width: 400px;
  height: 80vh;
  background-color: white;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shopingDiv{
    width: 50wh;
    height: 80vh;
    background-color: rgba(255, 0, 0, 0.438);
}

.userInnerDiv{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    /* background-color: white; */
    background-color: #00d480;
    width: 100wh;
    margin: 5vh 0vh;
    justify-content: space-between;
    border-radius: 2vh;
}

.titlePencilContainer{
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userImage{
    background-color: red;
    width: 100%;
    height: 20vh;
}


.userInfoContainer{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saveProfile{
    background-color: red;
    height: 12vh;
    width: 100%;
}
