.userOuterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userImage {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.userImage img {
  border-radius: 50px;
  height: 100px;
}

.userInfoContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.userInfoContainer span{
  border: 1px solid #c5c5c5;
  width: 100%;
  margin-top: 10px;
  height: 20px;
  color: #1f1f1f;
}

.contentCategoryx{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 336px;
}

.contentCategoryDiv{
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  width: 100%;
  scroll-behavior: smooth;
}

.contentCategoryDiv p{
  color: #00cc77;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -2px;
}

.categoryDiv{
  width: 336px;
  margin-top: 15px;
  text-align: left;
}

.titleForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
  color: #00cc77;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.formBack{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #00cc77;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 25px;
}

.formBack button{
  margin-right: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.buttonBack{
  color: white;
  background-color: #00cc77;
  border: 1px solid #00cc77;
  border-radius: 8px;
  height: 45px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.pencilButton{
  background-color: white;
  border: 1px solid white;
  justify-content: flex-end;
  font-size: 25px;
  color: #00cc77;
  cursor: pointer;
}

@media (min-height: 0px){
  .contentCategoryDiv{
      height: 480px;
  }
}

@media (min-height: 768px){
  .contentCategoryDiv{
    height: 768px;
  }
}

@media (min-height: 1080px){
  .contentCategoryDiv{
      height: 768px;
  }

}

@media (min-height: 1920px){
  .contentCategoryDiv{
    height: 1450px;
  }
}

@media (min-width: 768px){
  .contentCategoryx{
    max-width: 514px;
  }
}

@media (min-width: 1080px){
  .contentCategoryx{
    max-width: 614px;
  }
}

@media (min-width: 1920px){
  .contentCategoryx{
    max-width: 1214px;
  }
}