.userOuterDivProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.userImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-pdf__Document {
  display: flex;
}

.userImage img {
  border-radius: 1.5em;
  width: 75%;
}

.userInfoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contentInfoProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.contentImageProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: -110px;
}

.imageEditProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userInfoContainer input {
  width: 100%;
}

.userDetailsNames input {
  text-transform: capitalize;
}

.containerProfileGeneral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.buttonSaveAndCancel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.noAction {
  pointer-events: none;
}

.titleFormProfileDetail {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
  color: #287ccb;
  background-color: rgb(255, 255, 255);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* .userInfoContainer span {
  border: 1px solid #c5c5c5;
  width: 100%;
  margin-top: 10px;
  height: 20px;
  color: #34495e;
} */

/* .contentCategoryx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  min-width: 336px;
  transform: scale(1);
} */

/* .contentCategoryDivx {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.contentCategoryDivx p {
  color: #34495e;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -2px;
} */

/* .categoryDivx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 336px;
  margin-top: 15px;
  text-align: left;
} */

/* .titleFormx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
  color: #34495e;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
} */

@media (max-width: 914px) {
  .userOuterDiv {
    flex-direction: column;
  }
  .contentInfoProfile {
    width: 100%;
  }
  .contentImageProfile {
    width: 100%;
  }

  .contentImageProfile {
    margin-top: 0px;
  }
}

.formBackx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #287ccb;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.formBackx button {
  margin-right: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.buttonBackx {
  color: white;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  border-radius: 8px;
  height: 45px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.delete {
  background-color: red;
  border: 1px solid red;
}

.buttonRead {
  color: white;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  border-radius: 8px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.pencilButtonx {
  background-color: white;
  border: 1px solid white;
  justify-content: flex-end;
  font-size: 25px;
  color: #287ccb;
  cursor: pointer;
}

.purchaseCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.purchaseIndividualCard {
  margin: 1vh 0;
  display: flex;
  /* flex: wrap; */
  flex-direction: column;
  border-bottom: 1px solid #d1d1d1;
}

@media (min-height: 0px) {
  .contentCategoryDivx {
    height: 480px;
  }
}

@media (min-height: 768px) {
  .contentCategoryDivx {
    height: 768px;
  }
}

@media (min-height: 1080px) {
  .contentCategoryDivx {
    height: 768px;
  }
}

@media (min-height: 1920px) {
  .contentCategoryDivx {
    height: 1450px;
  }
}

@media (min-width: 768px) {
  .contentCategoryx {
    max-width: 514px;
  }
}

@media (min-width: 1080px) {
  .contentCategoryx {
    max-width: 614px;
  }
}

@media (min-width: 1920px) {
  .contentCategoryx {
    max-width: 900px;
  }
  .categoryDivx {
    transform: scale(1.7);
  }
  .contentCategoryDivx {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

@media (min-width: 2560px) {
  .contentCategoryx {
    max-width: 1260px;
  }
}

@media (min-width: 3260px) {
  .contentCategoryx {
    max-width: 1660px;
  }
  .categoryDivx {
    transform: scale(2.5);
  }
}
