.titleFormShopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
    color: #287ccb;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 0px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.bottomNavigationActionx{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 250px;
    border-radius: 8px;
}

.bottomNavigation{
    border-radius: 8px;
}

.contentShoppingDetail {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: scroll;
  }
  
.contentShoppingDetail p {
    font-size: 20px;
    font-weight: 400;
}

.contentShoppingDetail::-webkit-scrollbar {
    width: 8px;
  }

  .contentShoppingDetail::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: #287ccb;
    border-radius: 15px;
  }

.itemsShoppingDetail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 336px;
}

.contenedorx{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenedorItems{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: column;
}

.conteinerShopping{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}

.conteinerShopping span{
    width: 336px;
}

.tabPanel{
    width: 100%;
    min-width: 336px;
    margin-top: -24px;
}

.contBuy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.textBuy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15px;
    align-items: flex-start;
    flex-direction: column;
    color: #2c3e50;
    font-weight: 500;
}

.directionBuy{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.directionBuy span{
    margin-right: 25px;
}

.directionBuy select{
    margin-left: 5px;
    border: 1px solid #2c3e50;
    outline: none;
    font-weight: 500;
}

.contBuy span{
    margin-top: 6px;
    margin-left: 15px;
}

.contentImage img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.buttonDelete {
    background-color: rgb(202, 45, 45);
    border: 1px solid rgb(202, 45, 45);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.buttonUpdate {
    background-color: #287ccb;
    border: 1px solid #287ccb;
    /* height: 25px;
    width: 80px; */
    margin: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
  }

.amountContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    margin-top: 80px;
}

.amountContent input{
    border: 2px solid #e7e7e7;
    border-radius: 5px;
}

.amountContent input:focus{
    border: 2px solid #aa0707;
    border-radius: 5px;
}

.amountContent input:active{
    border: 2px solid #aa0707;
    border-radius: 5px;
}

.contentEdit{
    margin-right: -30px;
}

.buttonBack{
    margin-left: 15px;
}

.buttonViewNoStock {
    background-color: #287ccbb9;
    border: 1px solid #287ccbb9;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
  }

@media (min-height: 0px){
    .itemsShoppingDetail{
        height: 480px;
    }
}

@media (min-height: 768px){
    .itemsShoppingDetail{
        /* height: 768px; */
        height: 680px;
    }
}

@media (min-height: 1080px){
    .itemsShoppingDetail{
        height: 1450px;
    }
}

@media (min-height: 1920px){
    .itemsShoppingDetail{
        height: 1760px;
    }
}

@media (max-width: 914px) {
    .contBuy{
        flex-direction: column;
    }
    .contBuy span{
        margin-left: -15px;
    }
    .directionBuy{
        justify-content: center;
    }
    .contentEdit{
        margin-left: 25px;
        margin-right: 5px;
    }
}



