.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00cc77;
    width: 100%;
    height: auto;
    color: white;
}

.logo p{
    margin-left: 10px;
    color: white;
}

.iconsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.iconsContainer img{
    margin-left: 10px;
    margin-right: 10px;
}

.iconsContainer p{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

@media (max-width: 914px) {
    .header {
        flex-direction: column;
    }
    .iconsContainer img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .textoPromotions{
        margin-top: 0px;
        width: 80%;
    }
    .formBack{
        flex-direction: column;
    }
    .formBack button{
        margin-left: 15px;
    }
}

@media (max-width: 512px) {
    .stand{
        display: none;
    }
    .titleTop h3{
        justify-content:center;
    }
}

@media (max-width: 480px) {
    .searchTerm{
        width: auto;
    }
}

@media (max-width: 336px) {
    .header{
        width: 336px;
    }
    .headerBottom{
        width: 336px;
    }
    .homePage{
        width: 336px;
    }
    .contentCategory{
        position: absolute;
        margin-top: -25px;
        left: -50px;
    }
}
