.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #287ccb;
  width: 100%;
  height: auto;
  color: white;
  box-shadow: 0px 0px 10px rgba(7, 63, 68, 0.4);
}

.titleNav{
  margin: 1em 0 1em 0;
  font-weight: 400;
}

.logo /* p */ {
  margin-left: 1em;
  color: white;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.iconsContainer /* p */ {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}



@media (max-width: 914px) {
  .header {
    flex-direction: column;
  }
  .textoPromotions {
    margin-top: 0px;
    width: 80%;
  }
  .formBack {
    flex-direction: column;
  }
  .formBack button {
    margin-left: 15px;
  }
  .contentCategory {
    margin-top: -15px;
  }
  .contentCategoryx {
    margin-top: -15px;
  }
  .categoryBookDetails {
    align-items: center;
    flex-direction: column;
  }
  .bookImage img{
    margin-left: 0%;
  }
}

@media (max-width: 512px) {
  .stand {
    display: none;
  }
  .titleTop h3 {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .searchTerm {
    width: auto;
  }
}

@media (max-width: 336px) {
  .header {
    width: 336px;
  }
  .headerBottom {
    width: 336px;
  }
  .homePage {
    width: 336px;
  }
  .contentCategory {
    width: 336px;
  }
  .userOuterDiv {
    width: 336px;
  }
  .contentCreateBook {
    width: 336px;
  }
  .userLoginDiv{
    width: 336px;
  }
  .userAccountContainer{
    width: 336px;
  }
  .contentResults{
    width: 336px;
  }
  .adminContainer{
    width: 336px;
  }
  .userOuterDivProfile{
    width: 336px;
  }
  .mainAbout{
    width: 336px;
  }

}

.routesHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.routesHeader /* p */ {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.noRomper{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}