.contentCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.contentCategoryDiv {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.contentCategoryDiv::before,
.contentCategoryDiv::after{
  content:""
}
.categoryText {
  color: #287ccb;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -2px;
}

.categoryDiv {
  margin-left: 50px;
  width: 300px;
  margin-top: 15px;
  text-align: left;
}

.categoryDiv span {
  font-weight: bold;
}

.subCategoryDiv li {
  margin-left: 5px;
  font-weight: bold;
  color: #34495e;
}

.titleForm {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  font-weight: bold;
  color: #34495e;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.titleFormText {
  margin: 1em 0 1em 20px;
}


.formBack {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: #287ccb;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.formBack button {
  margin-right: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.buttonBack {
  color: white;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  border-radius: 8px;
  height: 45px;
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.subToCategoryDiv span {
  margin-left: 40px;
  color: #779ec1;
}

.buttonCategory {
  display: flex;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
  text-align: left;
}

.contentCategoryDiv::-webkit-scrollbar {
  width: 8px;
}

.contentCategoryDiv::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #287ccb;
  border-radius: 15px;
}

@media (min-height: 0px) {
  .contentCategoryDiv {
    min-height: 480px;
  }
}

@media (min-height: 768px) {
  .contentCategoryDiv {
    /* min-height: 768px; */
    min-height: 710px;
  }
}

@media (min-height: 1080px) {
  .contentCategoryDiv {
    min-height: 1450px;
  }
}

@media (min-height: 1920px) {
  .contentCategoryDiv {
    min-height: 1760px;
  }
}

@media (min-width: 0px) {
  .contentCategory {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) {
  .contentCategory {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* @media (min-width: 1920px) {
  .categoryDiv {
    margin-top: 270px;
    margin-bottom: 170px;
    transform: scale(1.3);
  }
} */


