.userAccountContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.formInputsx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 80%;
}

.containerAccount span {
  font-size: 12px;
}

.containerAccount a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.error {
  color: #d10000;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: -2px;
}

.formInputsx button {
  border-radius: 8px;
  border: 1px solid #287ccb;
  background-color: #287ccb;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 8px;
  width: 300px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.formInputsx button:disabled {
  border: 1px solid #eee;
  background-color: #eee;
  color: gray;
}

.containerAccount button:active {
  transform: scale(0.95);
}

.containerAccount button:focus {
  outline: none;
}

.containerAccount button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.containerAccount form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}

.contentTitleAccount{
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  color:#287ccb;
}

.containerAccount input {
  border: none;
  padding: 12px 15px;
  /* width: 80%; */
  margin: 8px;
}

#passwordInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.textfield{
  width: 70%;
}

.textfieldWithCap{
  width: 70%;
}

.textfieldWithCap input {
  text-transform: capitalize;
}

.containerAccount {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  width: 80%;
  max-width: 100%;
  min-height: 480px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sign-in-containerAccount {
  margin-top: 18px;
  left: 0;
  width: 100%;
  z-index: 2;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@media (max-width: 914px) {
  .sign-in-containerAccount {
    width: 100%;
  }
  .overlay-containerAccount {
    display: none;
  }
  .accountMobile {
    display: flex;
  }
  .textfield{
    width: 80%;
  }
  
  .textfieldWithCap{
    width: 80%;
  }
}

@media (min-height: 0px) {
  .containerAccount {
    height: 480px;
  }
}

@media (min-height: 768px) {
  .containerAccount {
    height: 768px;
  }
}

@media (min-height: 1080px) {
  .containerAccount {
    height: 768px;
  }
}

@media (min-height: 1920px) {
  .containerAccount {
    height: 1450px;
  }
}
