.contentCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  border-radius: 5px;
  background-color: #f3f3f3;
  height: 320px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.nameBook {
  text-transform: uppercase;
  color: black;
  font-size: 13px;
}

.imgBook {
  width: 90px;
  margin-top: 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.priceBook {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: unset;
}

.priceNumber {
  font-size: 16px;
}

.btnBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.infoBook {
  padding: 10px;
}

