.digitalBookContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.digitalBookImage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 20%;
}

.digitalBookName{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}

.digitalBookButton{
    width: 20%;
}

.window-notice {
    background: rgba(0, 0, 0, 0.85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.contentBokk{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contentClose{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: flex-end;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.testeo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.buttonFavX{
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}