.bookCreationForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}

.infoTitle{
  color: #34495e;
  font-size: 25px;
  font-weight: 700;
  margin: 1em 0 1em  0;
}


.titleFormx{
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;    
  border-radius: 8px 8px 0 0;
  color: #34495e;
  margin-top: 25px;
}

.CreateBookConfirmationStack {
  justify-content: center;
}

.imgPreview {
  height: 125px;
  width: 115px;
  border-radius: 8px;
  align-self: center;
}

.imgPreviewDefault {
  height: 125px;
  width: 115px;
  border-radius: 8px;
  align-self: center;
}

.ImgSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImgSelector label {
  padding: 0;
  font-family: monospace;
}

.ImgSelectorStackButton {
  width: 150px;
  height: 22px;
}

.loading_snail {
  height: 10vh;
  width: 10vw;
}

.divInputForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.previewContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divInputForm input,
select,
option {
  padding: 5px;
  border: 2px solid #34495eb8;
  border-radius: 5px;
  color: #34495e;
}

.divInputForm select {
  width: 100%;
}

.divInputForm span {
  font-size: 15px;
  color: #287ccb;
  font-weight: bold;
  padding-bottom: 5px;
}

.createTitle {
  margin-bottom: 0px;
}

.btnAdd {
  background-color: #287ccb;
  border: 1px solid #287ccb;
  height: 100%;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  color: white;
  cursor: pointer;
}

.textareaAutosize {
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #34495eb8;
  color: #34495e;
}

.textareaAutosizex {
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #34495eb8;
  color: #34495e;
  width: 100%;
}

.previewTitles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: #287ccb;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #34495eb8;
  padding: 5px;
}

.previewTitlesSynopsis {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: #287ccb;
  font-weight: bold;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: -11px;
}

.contentTitles {
  display: flex;
  margin-left: 10px;
  color: #34495e;
  text-transform: capitalize;
  font-weight: normal;
}

.btnDeletePreview {
  background-color: #287ccb;
  border: 1px solid #287ccb;
  height: 35px;
  width: 130px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.deleteAuthor {
  padding: 3px;
  margin-left: 20px;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.userOuterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contentBookDiv::-webkit-scrollbar {
  width: 8px;
}

.contentBookDiv::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: #287ccb;
  border-radius: 15px;
}

.contentCreateBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  min-width: 336px;
  transform: scale(1);
}

.contentBookDiv {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-height: 680px;
}

.contentBookDiv p {
  color: #34495e;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -2px;
}

.categoryBook {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 330px;
  margin-top: 15px;
  text-align: left;
}

.buttonDeleteBook {
  color: white;
  background-color: #287ccb;
  border: 1px solid #287ccb;
  border-radius: 8px;
  height: 45px;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
  width: 250px;
}

.mantengo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.contentInputAndButtonCreateBook{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.inputDivCreateBook{
  width: 80%;
}

.inputDivCreateBook input{
  border-radius: 5px 0px 0px 5px;
  width: 95%;
}

.ButtonDivCreateBook{
  width: 20%;
}
@media (min-height: 0px) {
  .contentBookDiv {
    height: 480px;
  }
  .contentBookDiv {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

@media (min-height: 768px) {
  .contentBookDiv {
    height: 680px;
  }
}

@media (min-height: 1080px) {
  .contentBookDiv {
    height: 680px;
  }
}

@media (min-height: 1440px) {
  .contentBookDiv {
    height: 1440px;
  }
}

@media (min-height: 1920px) {
  .contentBookDiv {
    height: 1450px;
  }
}

@media (min-width: 768px) {
  .contentCreateBook {
    max-width: 514px;
  }
}

@media (min-width: 1080px) {
  .contentCreateBook {
    max-width: 614px;
  }
}

@media (min-width: 1920px) {
  .contentCreateBook {
    max-width: 900px;
  }
}

@media (min-width: 2560px) {
  .contentCreateBook {
    max-width: 1260px;
  }
  .categoryBook {
    margin-top: 150px;
    transform: scale(1.3);
  }
}

@media (min-width: 3260px) {
  .contentCreateBook {
    max-width: 1660px;
  }
  .categoryBook {
    transform: scale(1.5);
  }
}
