.bookCreationForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookCreationFormInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 90vh;
}

.bookCreationFormPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 90vh;
}
.imgPreview {
  height: 40vh;
  width: 15vw;
}
