@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Concert+One&family=Courgette&family=Dangrek&family=Fredoka+One&family=Itim&family=Neucha&family=Pangolin&family=Patrick+Hand&family=Sniglet&display=swap");

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e7e7e7e8;
  backdrop-filter: blur(1.5px);
  padding-top: 8em;
  z-index: 100;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.loader span {
  position: absolute;
  color: #fff;
  font-family: 'Itim', cursive;
  transform: translate(-50%, -50%);
  font-size: 5em;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px #34495e;
}

.loader span:nth-child(2) {
  color: #34495e;
  text-shadow: -1px 0 rgb(128, 198, 255), 0 4px rgb(128, 198, 255);
  -webkit-text-stroke: 1px #34495e;
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
     54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
     51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}